<div style="margin: 0 auto; width: 800px">
    <h1 class="display-3">What is <span style="color: #BB86FC">K</span>humalo <span style="color:#BB86FC">C</span>raft?</h1>
    <hr />
</div>
<div style="font-family: Calibri; height: 100%; display:flex;
    justify-content: center;
    align-items:center">
    <h3>
        KhumaloCraft Emporium, created by Mr James Khumalo, is a worldwide platform that aims
        to bring artworks of the world to an all-in-one, online platform. KhumaloCraft's goal is 
        to allow artisians to advertise and display their work on the plaform, as well
        as auction off their masterpieces to those versed in artistic culture.
        <br /> <br />
        KhumaloCraft also consists of in-house jewellery made from a parent company of Mr Khumalo, 
        which offer a range of items including earrings, chains and rings. All of which are made
        to radiate elegance and not break the bank at the same time
    </h3>
</div>
