<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

<div style="margin: 0 auto; width: 1150px">
    <h1 class="display-3">Want to talk <span style="color:#BB86FC">art</span> ? Contact us on</h1>
    <hr />
    <br />
    <ul>
        <li>
            <h3 class="fa-solid fa-envelope"> contactkhumalocraft@outlook.com</h3>
        </li>
        <br />
        <li>
            <h3 class="fa-solid fa-square-phone-flip"> 031 685 7488</h3>
        </li>
        <br />
        <li>
            <h3 class="fa-solid fa-fax"> 031 685 7489</h3>
        </li>
        <br />
        <li>
            <h3 class="fa-solid fa-map-location-dot"> 7 9th Avenue, Randburg, Gauteng, South Africa</h3>
        </li>
    </ul>
    <i>Please note, these details are random and are not intended to mimick any entity that owns them</i>
</div>